#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 2rem;
  text-align: center;
  background-color: var(--color-dark--2);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app img {
  display: grid;
  width: 28vw;
}
